<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div id="header">
    <div id="logo">
      <div>
        <h1>HODLINFO <span>.com</span></h1>
        <p><span>Powered By</span> Finstreet</p>
      </div>
    </div>
    <div id="option">
      <select class="select">
        <option value="volvo" selected>INR</option>
      </select>
      <select class="select">
        <option value="volvo" selected>BTC</option>
        <option value="volvo">ETH</option>
        <option value="volvo">USDT</option>
      </select>
    </div>
    <div id="more">
      <div id="timer">58</div>
      <div id="telegram">
        <i class="fab fa-telegram-plane"></i>Connect Telegram
      </div>
      <label class="switch">
        <input type="checkbox" checked />
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  
  <div id="table-div">
    <center>
    <table class="table-own" id="table_id" cellspacing="0" cellpadding="0">
      <thead class="">
        <tr>
          <th>#</th>
          <th>name</th>
          <th>Last</th>
          <th>Buy / Sell Price</th>
          <th>volume</th>
          <th>base_unit</th>
        </tr>
      </thead>
      <tbody>
        <% var i = 0 %>
        <%for (let key in details) { %>
          <% i++ %>
          <tr class="trHover-own" >
            <td><%= i %></td>
            <td style="text-transform: uppercase;"><%= details[key].base_unit %>/<%= details[key].quote_unit %></td>
            <td><%= details[key].last %></td>
            <td>₹ <%= details[key].sell %></td>
            <td><%= details[key].volume %></td>
            <td class="base-unit"><%= details[key].base_unit %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    </center>
  </div>
  

  


<%- include('./includes/end.ejs') %>